<%- include('partials/header') %>

  <div class="my-btn">
    <form action="/auth/discord">
      <button type="submit" class="btn btn-success">Login With Discord</button>
    </form> 
  </div>

  <!-- <div class="my-btn-g">
    <form action="/auth/google">
      <button type="submit" class="btn btn-success">Login With Google</button>
    </form> 
  </div> -->




<%- include('partials/footer') %> 
